:root {
  --primari-text-color: #757575;
  --secondary-text-color: #ffffff;
  --title-text-color: #212121;
  --first-bcg-color: #2f303a;
  --second-bcg-color: #f5f4fa;
  --link-color: #2196f3;
  --third-text-color: rgba(255, 255, 255, 0.6);
  --first-logo-color: #2196f3;
  --second-logo-color: #000000;
  --main-border-color: #ececec;
  --secondary-border-color: #eeeeee;
  --main-icon-color: #afb1b8;
  --main-bg-icon-color: rgba(255, 255, 255, 0.1);
  --hero-linear-gradient: rgba(47, 48, 58, 0.4);
  --icon-color: currentColor;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: #ffffff;
  color: var(--primari-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}
/* container */

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* section */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* header */

.header-content {
  border-bottom: 1px solid var(--main-border-color);
}

.header-content .logo {
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--second-logo-color);
}

.logo-web {
  color: var(--first-logo-color);
}

.header-nav {
  display: flex;
}

.container.nav {
  display: flex;
  align-items: center;
}

.header-link {
  align-items: center;
  display: flex;

  margin-left: 93px;
}

.header-content .link:hover,
.header-content .link:focus {
  color: var(--link-color);
}

.header-link .link {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.header-link .link.current {
  color: var(--link-color);
}

.header-link > .item:nth-child(n + 2) {
  margin-left: 50px;
}

.item-icon:hover {
  color: var(--link-color);
}

.contact-link {
  display: flex;

  margin-left: auto;
}

.contact-link .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primari-text-color);
}

.contact-link > .item:nth-child(n + 2) {
  margin-left: 50px;
}

.icon-mail {
  vertical-align: -1px;

  width: 16px;
  height: 12px;
}

.icon-smartphone {
  vertical-align: bottom;

  width: 10px;
  height: 16px;
}

/* main */

/* hiden */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* portfolio setion */

/* portfolio buttons */

.buttons {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}

.buttons > .item:nth-child(n + 2) {
  margin-left: 8px;
}

.buttons .button {
  cursor: pointer;

  border-radius: 4px;
  border: transparent;

  text-align: center;

  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: var(--second-bcg-color);
  color: var(--title-text-color);
}

.buttons .button:hover,
.buttons .button:focus {
  background-color: var(--link-color);
  color: var(--secondary-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button.all {
  width: 73px;
  height: 38px;
  left: 495px;
  top: 174px;
}

.button.web {
  width: 128px;
  height: 38px;
  left: 576px;
  top: 174px;
}

.button.app {
  width: 145px;
  height: 38px;
  left: 712px;
  top: 174px;
}

.button.design {
  width: 103px;
  height: 38px;
  left: 865px;
  top: 174px;
}

.button.marcketing {
  width: 130px;
  height: 38px;
  left: 976px;
  top: 174px;
}
/* portfolio projects */

.project-list {
  display: flex;
  flex-wrap: wrap;
}

.project-card:hover,
.project-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-card {
  width: 370px;
}

.project-card:nth-child(-n + 6) {
  margin-bottom: 30px;
}

.project-card:nth-child(3n + 2) {
  margin-left: 30px;
  margin-right: 30px;
}

.project-box {
  padding: 20px 24px;
  border: 1px solid var(--secondary-border-color);
  border-top: none;
}

.project-title {
  margin-bottom: 4px;
  margin-right: auto;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.project-text {
  margin-right: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.03em;
}

/* hero title*/

.section.hero {
  background-image: linear-gradient(
      to right,
      var(--hero-linear-gradient),
      var(--hero-linear-gradient)
    ),
    url(../images/background-image-hero.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  max-width: 1600px;

  margin-left: auto;
  margin-right: auto;
  padding-bottom: 200px;
  padding-top: 200px;

  text-align: center;
  background-color: var(--first-bcg-color);
}

.hero .hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.hero .hero-button {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  padding: 10px 32px;

  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background-color: var(--link-color);

  border-radius: 4px;
  border: none;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* skills */

.skill-list {
  display: flex;
}

.skill-box::before {
  content: '';
  display: inline-block;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  border-radius: 4px;
  background-color: var(--second-bcg-color);

  background-repeat: no-repeat;
  background-position: center;
}

.skill-box:nth-child(1)::before {
  background-image: url(../images/icon.svg/satelit.svg);
}

.skill-box:nth-child(2)::before {
  background-image: url(../images/icon.svg/clock.svg);
}

.skill-box:nth-child(3)::before {
  background-image: url(../images/icon.svg/diagram.svg);
}

.skill-box:nth-child(4)::before {
  background-image: url(../images/icon.svg/astronaut.svg);
}

.skill-box:not(:last-child) {
  margin-right: 30px;
}

.skill-list .skill-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.skill-list .skill-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* our work */

.section.work {
  padding-top: 0;
}

.work .work-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.work-list {
  display: flex;
}

.work-image:nth-child(2) {
  margin-right: 30px;
  margin-left: 30px;
}

/* our team */

.section.team {
  background-color: var(--second-bcg-color);
}

.team .team-list {
  display: flex;
}

.team-worker {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--secondary-text-color);
}

.team-worker:nth-child(-n + 3) {
  margin-right: 30px;
}

.team-context {
  padding-top: 30px;
  padding-bottom: 39px;
}

.team .team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team .team-name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;

  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team .team-job {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 16px;

  text-align: center;
  letter-spacing: 0.03em;
}
/*  team icons */

.list-icon {
  display: flex;
  padding-left: 32px;
  padding-right: 32px;
  justify-content: space-between;
}

.list-icon .link {
  display: inline-block;
  cursor: pointer;
  width: 44px;
  height: 44px;
}

.icon {
  fill: var(--main-icon-color);
  width: 44px;
  height: 44px;
  padding: 12px;
}

.list-icon .link:hover,
.list-icon .link:focus {
  border-radius: 50%;
  background-color: var(--link-color);
}

.icon:hover,
.icon:focus {
  fill: var(--secondary-text-color);
}

/* clients */

.title-client {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.list-client {
  display: flex;
  justify-content: space-between;
}

.link-client {
  cursor: pointer;
  width: 170px;
  height: 92px;
}

.icon-client {
  width: 170px;
  height: 92px;
  border: 1px solid var(--main-icon-color);
  border-radius: 4px;
  fill: var(--main-icon-color);
}

.icon-client:hover,
.icon-client:focus {
  fill: var(--link-color);
  border-color: var(--link-color);
}

.company1 {
  padding: 23px 64px;
}

.company2 {
  padding: 20px 65px;
}

.company3 {
  padding: 25px 62px;
}

.company4 {
  padding: 25px 42px;
}

.company5 {
  padding: 22px 53px;
}

.company6 {
  padding: 23px 38px;
}
/* footer */
.footer-container {
  display: flex;
}

.footer-content {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--first-bcg-color);
}

.footer-content .logo {
  display: block;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-decoration: none;
}

.footer-link .link:hover,
.footer-link .link:focus {
  color: var(--link-color);
}

.addres {
  margin-top: 20px;
  font-style: normal;
}

.footer-link .link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-link > .item:nth-child(n + 2) {
  margin-top: 9px;
}

.map-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.map-link:hover,
.map-link:focus {
  color: var(--link-color);
}

/*  social icons */

.social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--secondary-text-color);

  padding-top: 12px;

  margin-left: 70px;
  margin-bottom: 20px;
}

.list-social {
  display: flex;
  margin-left: 70px;
}

.list-social > .blank-social:not(:last-child) {
  margin-right: 10px;
}

.list-social .link {
  display: inline-block;
  cursor: pointer;
  background-color: var(--main-bg-icon-color);
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.list-social .link:hover,
.link-social .link:focus {
  border-radius: 50%;
  background-color: var(--link-color);
}

.footer-icon {
  fill: var(--secondary-text-color);

  width: 44px;
  height: 44px;
  padding: 12px;
}
